*{
    margin:0px !important;
    padding: 0px !important;
    /* overflow-x: hidden !important; */
 
}
body{
    overflow-x: hidden;
}
.comp1{
    margin-top: 77.5px !important;
    height: fit-content;
    width: 100%;
    display: flex;
    overflow-x: hidden !important;
 
}
.c2T{
    margin-bottom: 40px  !important;
}
.card1{
    background: #E1F3FC;
    overflow: hidden !important;
}
.card2{
    background: url('../assets/bgs/bg1.jpg'),linear-gradient(to bottom, #ffffff00 30%, #000000 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden !important;
}
.card3{
    overflow-x: hidden !important;
}
.main-div{
    height:fit-content;
    width:100vw;
    overflow-x: hidden !important;
}
.comp2{
    background-color: #E1F3FC;
    height: fit-content;
    width: 100%;
    overflow-x: hidden !important;
}
.comp3{
    height:fit-content;
    width: 100%;
    overflow-x: hidden !important;
}
.comp4{
    height:fit-content;
    width: 80%; 
    overflow-x: hidden !important;
    border:2px solid rgba(0, 128, 0, 0.288) !important;
}
.comp5{
    height:fit-content;
    width: 100%;
    overflow-x: hidden !important;
}
.comp6{
    height:50vh !important;
    width: 100%;
    max-height: 500vh !important;
    min-height: fit-content !important;
    overflow-x: hidden !important;
 
    /* position:static !important; */
}
 
@media only screen and (max-width: 600px) {
    .card2{
        min-height: 100%;
        min-width: 100%;
        overflow-x: hidden !important;
 
    }
    .comp6{
        height:90vh !important;
        padding-top: 200px !important;
    }
    .comp1{
        display: flex;
        flex-direction: column;
        overflow-x: hidden !important;
    }
    .card1{
        width: 100% !important;
        overflow-x: hidden !important;
        height: fit-content !important;
        padding: 6px !important;
    }
    .c1,.c2{
        height:50% !important;
    }
    .comp1{
        margin-top: 76px !important;
 
    }
    .join{
        width: 40% !important;
    }
    .comp4{
        width: 90% !important;
    }
  }